# Your OPENAI API KEY
OPENAI_API_KEY=

# LANGSMITH keys (optionally) used for tracing
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Url for database. Logs will be stored here
DB_URL=

# Queue for messages & touchpoints
MSG_CHANNEL=msg_channel
TOUCHPOINT_CHANNEL=tp_channel
