# Your OPENAI API Key if using GPT models.
OPENAI_API_KEY=

# If using llama models
OLLAMA_BASE_URL=
OLLAMA_API_KEY=

# LangSmith tracing
LANGSMITH_TRACING=true # Change to true if you want this functionality.
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Databases setups
DB_URL=sqlite:///db/messages.db
TWIN_DATABASE_URL=sqlite:///db/twin.db
TOUCHPOINT_DATABASE_URL=sqlite:///db/touchpoints.db

# Redis Queue
# Queue for messages & touchpoints
MSG_CHANNEL=msg_channel
TOUCHPOINT_CHANNEL=tp_channel
REDIS_PORT=16739

# URL for the Bancobot package
BANCOBOT_URL=http://localhost:8000

PYTHONUNBUFFERED=1
PYTHONPATH=$PWD
